<article class="modular section-buttonlist col-12 col-md-12">
    <{% if page.header.titleh == 1 %}h1{% elseif page.header.titleh == 2 %}h3{% else %}h2{% endif %} class="heading">{{ page.header.title }}
    </{% if page.header.titleh == 1 %}h1{% elseif page.header.titleh == 2 %}h3{% else %}h2{% endif %}>
    <div class="markdown buttonlist">
    {% for button in page.header.buttons %}

  <a class="linksbutton" target="{% if button.newwindow == 1 %}_blank{% endif %}" href="{{ button.link }}" style="{% if page.header.fixedwidth %}width:{{ page.header.fixedwidth }}{% endif %}">{{ button.name }}</a>

    {% endfor %}
    </div>
</article>
