<article class="modular section-gallery col-12 {% if page.header.column == 2 %}col-md-12{% else %}col-md-6{% endif %}">
    {% if page.header.showtitle == 1 %}<h2 class="heading">{{ page.header.title }}</h2>{% endif %}
    <div class="gallery {% if page.header.showtitle == 2 %}title-placeholder{% endif %}">
        {% for img in page.header.gallerie | split(',')%}
            <article style="background-image: url('{{ page.media[img].cropZoom(400,400).url }}')" data-src="{{ page.media[img].cropResize(1280,720).url }}"></article>
        {% endfor %}
    </div>
</article>
