<article class="modular section-youtube col-12 {% if page.header.column == 2 %}col-md-12{% else %}col-md-6{% endif %}">
    {% if page.header.icon %}<span class="heading-icon"><i class="fas fa-{{ page.header.icon }}"></i></span>{% endif %}
    {% if page.header.showtitle == 1 %}<h2 class="heading">{{ page.header.title }}</h2>{% endif %}
    <div class="markdown {% if page.header.showtitle == 2 %}title-placeholder{% endif %}">
        {% if page.header.platform != 1 %}
        <iframe class="youtube-iframe" width="100%"
                src="https://www.youtube.com/embed/{{ page.header.youtube }}"
                frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        {% else %}
        <iframe class="youtube-iframe" src="https://player.vimeo.com/video/{{ page.header.youtube }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
        </iframe>
        {% endif %}
    </div>
</article>
