# Phpstorm
.idea

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

node_modules
package-lock.json
custom/*
custom/css/*
custom/js/*
custom/logo/*
custom/images/*
custom/favicon/*

# OZ themes
blueprints/homerows.yaml
templates/homerows.html.twig
blueprints/fewohome.yaml
templates/fewohome.html.twig
blueprints/modular/saisonzeiten.yaml
templates/modular/saisonzeiten.html.twig
blueprints/catfilter.yaml
templates/catfilter.html.twig
blueprints/catpost.yaml
templates/catpost.html.twig
templates/partials/cat_item.html.twig
blueprints/modular/akaziestart.yaml
templates/modular/akaziestart.html.twig
templates/modular/feed.html.twig
templates/tntquery-ajax.html.twig
templates/partials/tntsearch.html.twig
