$color_black: #000000;
$color_white: #ffffff;
$color_secondary: #121810;
$color_primary: #486144;
$color_cta: darkred;

// Navigation
$nav-height: 60px;

// Layout
$distance: 30px;

$font1: 'Montserrat', sans-serif;
$font2: 'Lato', sans-serif;

$max-width: 1280px;
