{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="page section-default">

  <div class="row">
    <article class="modular section-text col-12 col-md-6">
      <h2 class="heading">{{ page.header.title }}</h2>
      <div class="markdown ">
        {{ page.content | markdown }}
      </div>
    </article>
    <article class="modular section-image col-12 col-md-6">
      <div class="media-container ">
                                  <img class="media startimg" title="Ferien buchen und geniessen!" alt="Immosit" src="/immosit/images/5/c/e/2/d/5ce2df06a83a697671ed4f41cab0912ef0fd3591-home.jpg">

      </div>
    </article>
  </div>

  </section>
{% endblock %}
