{% extends 'partials/base.html.twig' %}

{% block main %}
    <section class="section-headerimage" style="background-image: url('{{ page.media[page.header.image].cropZoom(1920,450).url }}')">
        <h1 class="heading">{{ page.header.title }}</h1>
    </section>
    <section class="page section-default">
        <div class="markdown">
            {{ page.content|raw }}
        </div>
    </section>
{% endblock %}
