{% extends 'partials/base.html.twig' %}

{% block content %}
  {% set collection = page.collection() %}
  {% if collection.count %}
    <section class="page section-modular">
      <div class="row">
        {% for module in collection %}
          {{ module.content|raw }}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}
